# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

config-server/.mvn/wrapper/

config-server/mvnw

config-server/mvnw.cmd

eureka-server/.mvn/wrapper/maven-wrapper.properties

eureka-server/.mvn/wrapper/MavenWrapperDownloader.java

eureka-server/mvnw

eureka-server/mvnw.cmd

loja/.mvn/wrapper/maven-wrapper.properties

loja/.mvn/wrapper/MavenWrapperDownloader.java

loja/bin/

provider/bin/

loja/mvnw

loja/mvnw.cmd

provider/mvnw

provider/mvnw.cmd
